<p id="notice"><%= notice %></p>
<h2> <%= @venue.title %> </h2>
<p>
	<b>Owner:</b>
	<%= User.find_by_id(@venue.user_id).name %>
</p>
<p>
	<b>Description:</b>
	<%= @venue.description %>
</p>

<p>
	<b>Location:</b>
	(<%= @venue.lat %>, <%= @venue.lng %>)
</p>

<p>
	<b>Current song:</b>
	<%= @venue.current_song_name %> - <%= @venue.current_song_artist %>
</p>



<table class="venue_data">
	<tr>
		<th>	<h3> Events Here </h3> </th>
		<th> <h3> Hep-sters </h3> </th>
		<th> 	<h3> Currently Attending </h3> </th>
	</tr>
	<tr>
		<td> 	
			<% if user_signed_in? and current_user.id = @venue.user_id %>
				<%= link_to 'Add new event', new_event_path %> <br />
			<% end %>
			<table>
				<tr>
					<th> Title </th>
					<th> Date </th>
					<th> Time </th>
				</tr>
				<% @venue.events.each do |event| %>
					<tr>
						<td><%= link_to event.title, event_path(event) %> </td>
						<td><%= event.date %> </td>
						<td><%= event.time.hour %>:<%= event.time.min %> </td>
					</tr>
				<% end %>
			</table>
		</td> <td>
			<table>
				<tr>
					<th> User name </th>
					<th> Mojo </th>
				</tr>
				<% @venue.patrons.sort_by{|p| p.mojo}.first(5).each do |patron| %>
					<tr>
						<td><%= User.find_by_id(patron.user_id).name %> </td>
						<td><%= patron.mojo %> </td>
					</tr>
				<% end %>
			</table>
		</td> <td>
			<table>
				<tr>
					<th> Username </th>
				</tr>
				<% @venue.attendees.each do |attendee| %>
					<tr>
						<td><%= User.find_by_id(attendee.user_id).name %> </td>
					</tr>
				<% end %>
			</table>
		</td>
	</tr>
</table>

<% if user_signed_in? and current_user.id = @venue.user_id %>
		<%= link_to 'Edit this venue information', edit_venue_path(@venue) %> |
<% end %>
<%= link_to 'Back', venues_path %>
